.form__button-submit {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
