body {
    background-color: #f0eff2;
}

.attendance-list,
.attendance-list-container,
.staff-list-container,
.stamp-correction-request-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.attendance-header,
.staff-list-header,
.attendance-list-header,
.stamp-correction-request-header {
    margin-bottom: 20px;
    border-left: 4px solid #000;
    padding-left: 10px;
}

.attendance-header h2,
.staff-list-header h2,
.attendance-list-header h2,
.stamp-correction-request-header h2 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.month-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 8px;
}

.day-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.current-month {
    font-size: 20px;
    font-weight: bold;
}

.attendance-table {
    width: 100%;
    overflow-x: auto;
}

.table-wrapper {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

/* タブのスタイル */
.nav-tabs {
    margin-top: 50px;
    border-bottom: 2px solid #080808;
    margin-bottom: 1rem;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-tabs .nav-item {
    padding-bottom: 10px;
    padding-left: 25px;
}

.nav-tabs .nav-link {
    color: #495057;
    padding: 0.5rem 1rem;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    color: #0056b3;
}

.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: bold;
}

.tab-content {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-align: center;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

td {
    color: #333;
    text-align: center;
}

tr:hover {
    background-color: #f8f8f8;
}

.detail-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.detail-link:hover {
    text-decoration: underline;
}
